<%- include('z-header') -%>
    <title>ROBOT FIGHTERS | erreur </title>

    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/forms.css">
    <link rel="stylesheet" href="/profils.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans&family=Oswald&family=Quicksand&display=swap" rel="stylesheet"> 

</head>
<body>
    <div class="index">
        <div class="nav">
            <div class="navlinks">
                <h1>ERROR</h1>
            
                <h5><%= title %></h5>
                <br/><br/>
                <a href="/login">Login</a>
                <hr/>
                <a href="/">Registration</a>
            </div>
            
        </div>
    </div>
<%- include('z-footer') -%>