<%- include('z-header') -%>
    <title>ROBOT FIGHTERS | erreur </title>

    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/forms.css">
    <link rel="stylesheet" href="/profils.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans&family=Oswald&family=Quicksand&display=swap" rel="stylesheet"> 

</head>
<body>
    <div class="index">  
        <%- include('z-nav') -%>
        <div class="objets">
            <div class="title">Erreur</div>
            <h6>page d'erreur</h6>
            <div class="boutique">
                <%- error %>
            </div>
        </div>
    </div>
<%- include('z-footer') -%>