.profile, .objets, .combat {
    height: 80%;
    min-height: 500px;
    background-color: rgb(58, 56, 47, 0.7);
    box-shadow: -1px 2px 0px #444340;
    right: 55px;
    text-align: center;
    width:65%;
    position: relative;
    left: 35px;
    padding : 10px;
}

.contentP {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 50%;
    margin: auto;
    align-items:center;
}

.contentP img {
    max-width: 150px;
    max-height: 150px;
    border-radius: 100%;
    padding: 5px;
    border: 5px solid #42353797;
    margin-top: 55px;
}

.contentP span {
    font-family: Quicksand;
    font-size: 1.3rem; 
    margin-top: 40px;
    color: rgba(255, 255, 255, 0.65);
}
.contentP span strong {
    display: block;
}
.profile .title, .objets .title, .combat .title {
    font-size: 1.5rem;
    font-family: Oswald;
    margin-top: 25px;
    text-transform: uppercase;
    letter-spacing: 4px;
    background: -webkit-linear-gradient(45deg,#4e2f24, #473630);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: #998588 1px 0px 1px;
}

.profile h6, .objets h6 {
    font-size: 2.2rem;
    color:white;
    font-family: 'Bebas Neue';
    margin: 0px;
    padding: 0px;
}

.contentP span a {
    color: #bcb5b6;
    font-family: 'Open Sans';
    font-weight: light;
    background-color: #42353759;
    font-size: 0.8rem;
    padding: 15px;
    padding-left: 40px;
    padding-right: 40px;
}

.profile .email {
    text-align: center;
    font-family: Quicksand;
    font-size: 1.3rem;
    font-weight: bold;
    margin-top: 35px;
    margin-bottom: 15px;
}

.profile input[type="text"], .profile input[type="password"] {
    background-color: rgba(104, 103, 89, 0.8);
    color: rgba(255, 255, 255, 0.747);
    border: 0px;
    outline: none;
    display: block;
    margin: auto;
    margin-bottom: 10px;
    font-size: 1rem;
    padding: 10px;
    font-family: Quicksand;
    width: 330px;
}

.profile form input[type="submit"] {
    padding: 10px;
    font-family: Quicksand;
    color: rgba(255, 255, 255, 0.747);
    background-color: #46473e;
    outline: none;
    border: none;
    margin:10px;
    width: 350px;
    cursor: pointer;
}

#avatars{
    width:360px;
    margin: auto;
    overflow-y: auto;
}
.avatars > input{
    display: none;
}

.avatars > input + img{
    cursor: pointer;
    border: 3px solid transparent;
}

.avatars img {
    width: 50px; 
    height: 50px;
    object-fit: cover;
}

.avatars > input:checked + img{
    border: 3px solid white;
}