body {
    background-image: url('https://wallpaperaccess.com/full/5494967.jpg');    
    box-sizing: border-box;
    background-size: cover;
    background-repeat: no-repeat;
    border: 0;
    margin: 0; 
    padding: 0;
    font-family: 'Open Sans';
}

body a {
    text-decoration: none;
}


.index, .forms {
    height: 100vh;
    width: 100%;
    background-color: rgba(0,0,0,0.4);
    display: flex;
    align-items: center;
    flex-wrap: wrap-reverse;
}


.nav {
    width: 20%;
    min-width: 250px;
    padding: 10px;
    height: 80%;
    min-height: 500px;
    background-color: rgb(58, 56, 47, 0.5);
    box-shadow: 1px 2px 0px #444340;
    position: absolute;
    right: 55px;
    text-align: center;
}

.nav h1 {
    text-transform: uppercase;
    padding: 0;
    margin: 0;
    margin-top: 25px;
    font-family: bebas neue;
    font-weight: normal;
    font-weight: lighter;
    letter-spacing: 2px;
    background: -webkit-linear-gradient(45deg,#4e2f24, #473630);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /*text-shadow: 3px 0px 3px #553A37;*/
}

.nav h5 {
    font-weight: light;
    font-weight: lighter;
    font-family: bebas neue;
    background: -webkit-linear-gradient(45deg,#1D2327, #2F3534);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    letter-spacing: 4px;
    padding: 0;
    margin: 0;
    margin-top: 10px;
}

.navlinks {
    margin-top: 25px;
}

.navlinks a {
    text-decoration: none;
    color: #bcb5b6;
    font-family: 'Open Sans';
    font-weight: light;
    display: block;
    background-color:  #42353759;
    padding: 10px;
    margin: 15px;
}

.navlinks hr {
    border-bottom: 1px solid #4e2f24 ;
    margin: 15px;

}

.retour{
    text-align: left;

    margin: 15px;
    margin-top: 3%;
}

.retour a {
    text-decoration: none;
    color: #bcb5b6;
    font-family: 'Open Sans';
    font-weight: light;
    background-color: #42353759;
    padding: 10px;
}

.erreur {
    display: block;
    text-align: center;
    font-weight: lighter;
    font-family: bebas neue;
    background: -webkit-linear-gradient(45deg,#75848e, #8d9d9a);
    background-clip: border-box;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    letter-spacing: 4px;
    padding: 0;
    margin: 0;
    margin-top: 0px;
    margin-top: 10px;
}

.material-symbols-outlined {
    font-size: 14px!important;
    padding: 0px 0px 1px 1px;
}